{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-astronomy" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/astronomy-python/01-query/">Basic Queries</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/02-coords/">Coordinate Transformations</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://datacarpentry.org/astronomy-python/03-motion/">Plotting and Pandas</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/04-select/">Transform and Select</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/astronomy-python/05-join/">Join</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/06-photo/">Photometry</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://datacarpentry.org/astronomy-python/06-photo/">Photometry (cont.)</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/07-plot/">Visualization</a></td></tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class='alert alert-warning' role='alert'><p><i class='fa fa-exclamation-triangle fa-fw' aria-hidden='true'></i><b>NOTE:</b> Zoom information will be included in registration confirmation emails.</p></div>

<h3>Drop-in setup and installation assistance is available on Friday, August 6, 2021</h3>
<ul>
  <li><b>Time:</b> 10:00am - 02:00pm</li>
  <li><b>Location:</b> Zoom or 250I Hesburgh Library</li>
</ul>

<!--Schedule block starts with this div...-->
<div class="row">
  <!--Day 1 column containing table starts here-->
  <div class="col-md-6">
    <h3>Day 1</h3>
    <!--Day 1 table starts here-->
 <table class="table table-striped">
   <tr>
   <td>Before starting</td>
   <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> <i>(opens in a new tab)</i><br><br></td>
   </tr>
   <tr>
   <td>08:00am - 09:00am<br></td>
   <td>(Optional) Setup and installation<br><i>BIP organizing team members</i></td>
   </tr>
   <tr>
   <td>09:00am - 09:30am<br></td>
   <td>Welcome<br><i>Michael Pfrender</i></td>
   </tr>
   <tr>
   <td>09:30am - 10:30am<br></td>
   <td>Library Resources & Research Support Tools<br><i>Parker Ladwig, Mandy Havert, Julie Vecchio</i></td>
   </tr>
   <tr>
   <td>10:30am - 11:30am<br></td>
   <td>Metadata of Genomics<br><i>Amanda Charbonneau</i><br><br></td>
   </tr>
   <tr>
   <td>11:30am - 12:30pm<br></td>
   <td>Lunch break<br><i>Optional BYO lunch meet-up in Hesburgh Library 246 if you are on-site and interested!</i></td>
   </tr>
   <tr>
   <td>12:30pm - 01:30pm<br></td>
   <td><a href="https://crc.nd.edu/">CRC</a> Basics & Terminal Part 1<br><i>Scott Hampton (instructor), Amanda Charbonneau, Chissa Rivaldi, Mauna Dasari</i></td>
   </tr>
   <tr>
   <td>01:30pm - 02:30pm<br></td>
   <td>Terminal Part 2<br><i>Scott Hampton (instructor), Amanda Charbonneau, Chissa Rivaldi, David Molik</i></td>
   </tr>
   <tr>
   <td>02:30pm - 03:00pm<br></td>
   <td>Break<br></td>
   </tr>
   <tr>
   <td>03:00pm - 04:30pm<br></td>
   <td>R/R Studio<br><i>Chissa Rivaldi (instructor), Amanda Charbonneau, David Molik, Mauna Dasari</i></td>
   </tr>
   <tr>
   <td>04:30pm - 05:00pm<br></td>
   <td>Q&A<br><i>Amanda Charbonneau, Chissa Rivaldi, David Molik, Mauna Dasari</i></td>
   </tr>
</table>
<!--Day 1 table ends here-->
</div>
<!--Day 1 column containing table ends here-->

<!--Day 2 column containing table starts here-->
  <div class="col-md-6">
    <h3>Day 2</h3>
<!--Day 2 table starts here-->
<table class="table table-striped">
  <tr>
  <td>08:00am - 09:00am<br></td>
  <td>(Optional) Setup and installation<br><i>BIP organizing team members</i></td>
  </tr>
  <tr>
  <td>09:00am - 09:30am<br></td>
  <td>Re-cap<br><i>Amanda Charbonneau, Chissa Rivaldi</i></td>
  </tr>
  <tr>
  <td>09:30am - 10:30am<br></td>
  <td>Data Wrangling Part 1<br><i>Amanda Charbonneau (instructor), Chissa Rivaldi, Joe Sarro</i></td>
  </tr>
  <tr>
  <td>10:30am - 11:30am<br></td>
  <td>Data Wrangling Part 2<br><i>Chissa Rivaldi (instructor), Amanda Charbonneau, Joe Sarro</i></td>
  </tr>
  <tr>
  <td>11:30am - 12:30pm<br></td>
  <td>Lunch break <br><i>Optional BYO lunch meet-up in Hesburgh Library 246 if you are on-site and interested!</i></td>
  </tr>
  <tr>
  <td>12:30pm - 01:30pm<br></td>
  <td>Data Wrangling Part 3<br><i>David Molik (instructor), Chissa Rivaldi, Joe Sarro</i><br><br></td>
  </tr>
  <tr>
  <td>01:30pm - 02:30pm<br></td>
  <td>Data Wrangling Part 4<br><i>Amanda Charbonneau (instructor), Chissa Rivaldi, Joe Sarro</i><br><br></td>
  </tr>
  <tr>
  <td>02:30pm - 03:00pm<br></td>
  <td>Break<br><br><br></td>
  </tr>
  <tr>
  <td>03:00pm - 04:30pm<br></td>
  <td>Data Wrangling Part 5<br><i>David Molik (instructor), Amanda Charbonneau, Chissa Rivaldi</i></td>
  </tr>
  <tr>
  <td>04:30pm - 04:45pm<br></td>
  <td>Closing<br><i>Michael Pfrender, Scott Weingart</i><br><br></td>
  </tr>
  <tr>
  <td>04:45pm - 05:00pm<br></td>
  <td>Reflection, Q&A, and <a href="https://carpentries.typeform.com/to/UgVdRQ?slug=2021-bioinformatics-introductory-program-online" target="_blank">Post-Workshop Survey</a> <i>(opens in a new tab)</i><br><i>(Coming soon!)</i></td>
</tr>
</table>
<!--Day 2 table ends here-->
</div>
<!--Day 2 column containing table ends here-->
</div>
<!--Schedule block ends with this div...-->

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>Morning</td>
        <td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Concepts</a>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data</a></td>
      </tr>
      <tr>
        <td>Afternoon</td>
        <td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial Data (continued)</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 1)</td>
      </tr>
      <tr>
        <td>Evening</td>
        <td>END</td>
      </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 2)</td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector Data with R</a> (Part 3)</td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
{% else %}
{% include warning-curriculum.html %}
{% endif %}
[<a href="#top">back to top</a>]
